*.txt
*.dll
*.pdb
*.exe
*.db
*.user
*.cache
*.vspscc
*.force
*.Publish.xml
Admin/
DDRMenu/
AuthenticationServices/
DNNModule1/
HTML/
Log/
SpeedUp.ObjectManagement.API/obj/
SpeedUp.ObjectManagement.ClientSideViewer/SpeedUp.ObjectManagement.ClientSideViewer.Publish.xml	 
SpeedUp.ObjectManagement/obj/
TestingModule/
node_modules/

CoreMessaging/
DevicePreviewManagement/
Dnnskin.Net.MGS/
Feedback/
IdentitySwitcher/
Journal/
MemberDirectory/
MobileManagement/
SU_GISNCC/
SocialGroups/
UserDefinedTable/
SpeedUp.ObjectManagement.ClientSideViewer/JS/KendoUI/kendo.all.min.js.map

SpeedUp.LicenceManagement/web.config
SpeedUp.ObjectManagement.ClientSideViewer/js/Backup
SpeedUp.ListManagement/_SpeedUp.ListManagement.dnn
SpeedUp.ObjectManagement.Viewer/EditObjectRecord.ascxcc
SpeedUp.ObjectManagement/EditObjectMapping.ascx
SpeedUp.ObjectManagement/Service References
SpeedUp.ObjectManagement/_SpeedUp.ObjectManagement.dnn

SpeedUp.ObjectManagement.ClientSideViewer.Calendar/bin
SpeedUp.ObjectManagement.ClientSideViewer.AddNewRecord/bin