<div id = "filterToolbarHolder">
    <div>
        <div id="filterTabButton" ng-click="toggle()">
            {{ title }}
            <span id="filterTabButtonImage"></span>
        </div>
    </div>
    <div ng-show="showMe" id="filterTabHolder">
        <div class="_filterContainer ObjectGridfilterContainer">
            <ul class="objectFilterList">
                <li ng-repeat="filter in filterList">
                    <input class="_chkfilter" type="radio" id="{{ filter.FilterID}}" name="ObjfilterGroup" value="{{ filter.FilterID }}"  data-filterId='{{ filter.FilterID }}'/>
                    <label class="_chkfilterFor"  for="{{ filter.FilterID }}"> {{ filter.FilterLabel }}  </label>
                </li>
            </ul>
        </div>
    </div>
</div>